@model LeVanThinh_2415053122340.Models.SinhVien
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><strong>MSSV:</strong> @Model.Id</p>
    <p><strong>Họ tên:</strong> @Model.Name</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
